@media screen and (max-width: 825px) {
  /* burger */
  .burger {
    display: block;
    cursor: pointer;
  }

  .toggle-burger .baris-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .baris-2 {
    opacity: 0;
  }

  .toggle-burger .baris-3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  /* logo */
  .logo {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-left: -10px;
  }

  /* navigation */
  nav {
    position: fixed;
    width: 60%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
  }

  nav ul li {
    padding: 10px;
  }
  .nav-active {
    transform: translateX(0);
  }

  /* bagian home */
  #home {
    background-size: 600px;
  }
}

@media screen and (max-width: 500px) {
  /* navigation */
  nav {
    width: 80%;
  }
}
